Recordium is a useful app, which allows you to record voice on your IOS device. It has several audio formats and quality scale, which makes this app convenient and simple to use. Recordium is also able to record phone conversation. So to sum up, we can say that the application can fulfill various needs of  any demanding user.

<br>
<center><h1>Tap anywhere to preview live screenshots fullscreen.</h1></center>
<br>

Furthermore, there is a possibility to sort records in different groups, nice feature for the people which prefer to have everything in order. Only today Recordium is completely FREE!

<center><img src="../aad.svg" alt="App a Day logo" style="width: 60%;"/></center>
