"Ronin" belong to the genre which was always attracting my attention, because it is challenging to control a samurai which is always running and there is no option to stop it and think about the next move, all the decisions has to be taken immediately.

<br>
<center><h1>Tap anywhere to preview live screenshots fullscreen.</h1></center>
<br>

Ronin has a lot of different types of moves such as sliding, jumping, slashing with his sword and even shapeshifting in an animal, when there is enough mana, of course. You can chose difficulty, speed and your enemies.as well.

The game "Ronin" is amazingly drawn, well designed and thought-out in details.worth playing, especially today when it is FREE of charge!