Have you tried unbelievably popular, amazingly dummy and incredibly addictive and irritating game of this season? Let me think, if i am not mistaken there was something about a bird with small wings who was flapping all the time, and it was driving me crazy. If you are feeling same, than i have something for you, definitely worth trying - Woody Eagle!

<br>
<center><h1>Tap anywhere to preview live screenshots fullscreen.</h1></center>
<br>

The game is about small pixel eagle, who strives to reach the Roof of the World or at least escape falling to the ground. He is jumping from rock to rock going higher and higher making your score unreachable for your friends!
That is hard, addictive and fresh! What else do you need? What are you waiting for? Download today FREE with app a day and challenge everyone!

<center><img src="../aad.svg" alt="App a Day logo" style="width: 60%;"/></center>
