<center><h1>Tap anywhere to preview screenshots fullscreen.</h1></center>

<!-- http://stackoverflow.com/questions/14675913/how-to-change-image-size-markdown -->
<!-- ![Alt text](aad.svg) -->
<img src="/img/aad.svg" alt="App a Day logo" style="width: 90%;"/>