---
title: About
---

Every day one app goes 100% FREE for 24h. We serve the best ones from all over the App Store.

Try out these useful features:

* Tap to go full-screen preview
* Slide screenshots

<div class="about">
	<%= image_tag 'gift@2x.png' %>
</div>

* * *

Brought to you by 35cm Games.

<!-- # Question

* * *
![Gift](gift@2x.png)

Coming soon -->

