Today, App of the Day is Currency+ - an application which coverts different currencies. The application monitors currency pairs which the user sets in online mode, so it can be useful for business people, who are used to be up-to-date in a world of Forex.

<br>
<center><h1>Tap anywhere to preview live screenshots fullscreen.</h1></center>
<br>

Currency+ can also aid travelers who are lost in foreign country, having no idea if a thousand of "something" is enough or too much.
The application has neat design which does an effect.
Only today, Currency+ is totally FREE, instead of 1,99$ (Or 49,949 VND).

