Today we have something unique for you. Calendar 5 is an application, created by Readdle, famous, developer of Documents app, it is simple and that is why it is great.
We all know that it is hard to outbid Apple apps in a sense of quality, design and stability. Calendar 5 can rival the original Apple calendar.

<br>
<center><h1>Tap anywhere to preview live screenshots fullscreen.</h1></center>
<br>

Additionally to its perfect design, Calendar 5 has various functions, such as: drag and drop, sms-notifications and synchronization with you google calendar.
It it definitely worth trying, especially today - completely FREE!

<center><img src="../aad.svg" alt="App a Day logo" style="width: 60%;"/></center>
