<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cii</key>
	<integer>132</integer>
	<key>cri</key>
	<integer>200</integer>
	<key>rules</key>
	<array>
		<dict>
			<key>blacklistedHosts</key>
			<array>
				<string>youtube.com</string>
				<string>googlevideo.com</string>
				<string>soundcloud.com</string>
				<string>mp3skull.com</string>
				<string>mp3monkey.com</string>
				<string>soundowl.com</string>
			</array>
		</dict>
		<dict>
			<key>brw</key>
			<integer>1</integer>
		</dict>
	</array>
</dict>
</plist>
