- "Simplicity is the ultimate sophistication". (Leonardo Da Vinci)
That is why all simple things are so attractive, they were and they will be.
Skill Game Arcade is a quest, which reference person playing to his childhood, when all most interesting game were played just with a help of a pen and a piece of paper.

<br>
<center><h1>Tap anywhere to preview live screenshots fullscreen.</h1></center>
<br>

In Skill Game Arcade you have to connect numbers, appearing in a random spot on a piece of paper, avoiding line crossing. That is much more challenging than it sounds. Try this game and you will see that simple does not necessary means easy. Only today it is FREE!

<center><img src="../aad.svg" alt="App a Day logo" style="width: 60%;"/></center>
