Today we are proud to present you Flappy48  a game which is doomed to success!  Flappy Bird was one of the most popular games last month, and now 2048 is growing rapidly to top positions. Lets see how this invention will go. It was made by combining this two trends together in an extraordinary way, by a guy who dares to lead top positions in AppStore.

<br>
<center><h1>Tap anywhere to preview live screenshots fullscreen.</h1></center>
<br>

The game was developed with Unity game engine, which guarantees you realistic physics and as a result stunning impression.

In Flappy48 you have to find the way through endless gates with fluttering cube, having number inside,  increases its meaning each time you collect the same number. If you collect divergent number, you get another cube following you as a tale, waiting for its pair to be collected. The aim is clear and simple enough - just get the best score! Is it really so easy to get 2048?


<center><img src="./aad.svg" alt="App a Day logo" style="width: 60%;"/></center>