<!-- <center>Tiny</center> -->
<!-- [!screen] -->
<!-- ![APP SCREENSHOT](screen.png) -->

Are you a fan of interactive quests? Do you enjoy Machinarium? Have you been searching for something similar? You have found it!

Medieval adventure of a tiny thief is a masterpiece of its genre! Here are all components which you expect to see in a game of your dream: interesting plot, nice graphics, unobtrusive music and all these is served in a humorous manner.

<br>
<center><h1>Tap anywhere to preview live screenshots fullscreen.</h1></center>
<br>

Tiny Thief game includes six chapter and each of them has an original plot which will grab you attention and do not let it go until you finish it. This game is not only a perfect variant if you need to kill time but also can smooth over a lonely evening, leaving a nostalgic feeling after you have played it.

Now you can download it completely for free with App a Day! Do not miss this unique opportunity only for you and only today Tiny Thief is completely FREE!

<center><img src="./aad.svg" alt="App a Day logo" style="width: 60%;"/></center>