---
title: About
---

<b>Every day one app goes 100% FREE for 24 hours.</b>

Our editorial team reviews best offers can be found on the App Store and delivers them right into your pocket.

Here are 3 things why you'll love App a Day:

* Tap anywhere to go full-screen preview
* Slide screenshots with finger
* Gift free apps to friends instantly

<div class="about">
<center><img src="/img/aad.svg" alt="App a Day logo" style="width: 50%;"/></center>
	<!-- <%= image_tag 'gift.svg' %> -->
</div>

Feel free to reach us at <a href="mailto:bfgamesdev@gmail.com">bfgamesdev@gmail.com</a>.

* * *

Brought to you by &copy; 35cm Games.

<!-- # Question

* * *
![Gift](gift@2x.png)

Coming soon -->

