Pro Cam XL 2 is an application which simply turns your IOS device into a professional camera with lots of settings allowing you to make photos and even videos in the way you want. Large number of stamps: date, place, copyright etc.

<br>
<center><h1>Tap anywhere to preview live screenshots fullscreen.</h1></center>
<br>

Pro Cam XL has lots of various filters which transfigure your photos, helping you to express your originality and share your masterpieces with your friends.
Only today Pro  Cam XL 2 is completely FREE!

<center><img src="../aad.svg" alt="App a Day logo" style="width: 60%;"/></center>
