Nowadays there are lots of applications which considerably expands Iphone/Ipad camera performance and allows users to make extraordinary photos with a help of different filters. Pocketbooth will exceed your expectations towards photo making app. It has it style, It is 50's, baby!

<br>
<center><h1>Tap anywhere to preview live screenshots fullscreen.</h1></center>
<br>

Pocketbooth is a vivid example of how well-known and commonly used features can rather pleasantly surprise, being presented in a stylish way. With large amount of filters and effects you can make 4 or 3 photoes which will be designed, arranged and presented in an old-style look. This app has several Apple awards and it means that it is definitely worth trying!

<center><img src="../aad.svg" alt="App a Day logo" style="width: 60%;"/></center>